<div class="container">
    <div class="d-flex justify-content-around align-items-center">
        <form method="POST" action="{% url 'app:toggle_editing' todo.id %}">
            {% csrf_token %}
            <button class="btn btn-primary">Edit</button>
        </form>
        {% if todo.editing %}
        <form class="d-flex justify-content-between" method="POST" action="{% url 'app:new-title' id=todo.id%}">
            {%csrf_token%}
            <input name="title  type=" text" maxlength="31" class="form-control">
            <button class="btn btn-primary ml-2"><i class="fas fa-download"></i></button>
        </form>
        {%else%}
        <p class="d-flex justify-content-between">
            <h6>{{todo.title }}</h6>
        </p>
        {%endif%}

        {% if todo.completed%}
        <i class="fas fa-check"></i>
        {%else%}
        <i class="fas fa-times"></i>
        {%endif%}

        <form method="POST" action="{% url 'app:toggle_completed' todo.id %}">
            {% csrf_token %}
            <button class="btn btn-success">
                toggle complete
            </button>
        </form>
        <form method="POST" action="{% url 'app:delete' todo.id %}">
            {% csrf_token %}
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
    <hr />
</div>

<!-- {{ todo }} -->